.App {
  background-color: #f8f9fa;
  width:100%;
  overflow-x:hidden;
}

.App-header {
  background-color: #f79400;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40pt;
  padding-bottom: 40pt;
}

.App-list {
  background-color: #fff;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.App-ovelay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#4b464699;
  z-index: 2000
}

.bg-orange {
  background-color: #f79400;
}

.orange {
  color: #f79400;
}

.card-for-list {
  min-width: 14rem!important;
  margin: 0.5rem;
}

.scaled:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px  6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-buttons {
  padding: 5px 15px;
  position:fixed;
  right:0px;
  top:0px;
  z-index:1020;
  justify-content: space-around;
}

.nav-buttons a:first-child {
  margin-left: 1rem;
}
.nav-buttons a {
  color:#fff;
  margin-right: 1rem;
}
.nav-buttons a:hover {
    color: #4b4646;
    text-decoration: none;
}

.star
{
  width:20px;
  position:absolute;
  top:5px;
  right:5px;
}

.close
{
  width:15px;
}

.hide {
  display: none!important;
}



.suggestedBeerList {
    justify-content:center;
}

.suggestedBeer {
    height: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.beerList {
    width:100%;
    max-width: 1000px!important;
    margin-right: 0;
    margin-left: 0;
    padding-top: 25px;
}


